* {
    padding: 0px;
    margin: 0px;

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(218, 128, 128);
    padding: 20px 28px;
    color: white;
    align-items: center;

}

.logo {
    font-size: 30px;
    font-weight: 900px;
}

.emoji {
    width: 30px;
}

.links {
    display: flex;
    gap: 18px;
}

.links a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.links a:hover {
    color: white;
    font-weight: 900;
}

.cta {
    padding: 10px;
    border-radius: 30px;
    background-color: greenyellow;
    font-weight: 500px;
    border: none;
}

.cta:hover {
    scale: 1.3;
    /* rotate: 2deg; */
}

header {
    background-color: black;
    color: white;
    height: 80vh;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

header h1 {
    font-size: 4rem;
}

header p {
    font-size: 30px;
    width: 600px;
}

.hero-btns {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact-button {
    border: none;
    background-color: greenyellow;
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
}

.download-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: white;
    position: relative;
    gap: 8px;
    font-size: 24px;
    font: 400;
    margin: 0% 30px;

}

.arrow {
    background-color: greenyellow;
    border-radius: 100%;
    padding: 8px 14px;
    padding-top: 14px;
    position: absolute;
    left: -32px;
}

.arrow img {
    width: 25px;
}

.circle {
    height: 45px;
    width: 45px;
    border: 2px solid rgba(255, 255, 255, 0.763);
    border-radius: 100%;
}

.hero-image {
    width: 450px;
    height: 500px;
    background-color: blueviolet;
    position: absolute;
    right: 130px;
    bottom: -150px;
    rotate: 4deg;
    border-radius: 20px;
}

.hero-image img {
    width: 600px;
    position: absolute;
    bottom: -10px;
    right: -100px;
}

.abt-section{
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;

}
.social {
    font-size: 30px;
font-weight: bold;
}
.social-icons{
    font-weight: 100;
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: end;
}
.social-icons span{
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px;
}
.social-icons hr{
    width: 100vw;
    border: 1px solid black;
}
.about{
    font-size: 38px;
    text-align: center;
    padding: 40px 200px;
}
.about span{
    text-decoration: underline;
    color: blue;
}
.skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.skills-section h1{
    font-size: 40px;
    font-weight: 800px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.skills-item{
    border: 2px solid rgba(0, 0, 0, 0.413);
    border-radius: 20px;
    padding: 20px;
    width: 240px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.skill-heading{
    font-size: 18px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skills-item:hover{
    background-color: greenyellow;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.288),
                -10px -10px 100px rgba(0, 0, 0, 0.288);
scale: 1.1; 
}
